/* Global Styles */

body {
  margin: 0;
  background-size: cover;
}

a, button, .btn-link {
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.font-bangers {
  font-family: 'Bangers', Arial, Helvetica, sans-serif;
}

.font-raleway {
  font-family: 'Raleway', Arial, Helvetica, sans-serif
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.dev-messages {
  position: relative;
  background-color: white;
  opacity: 0.95;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border: 2px solid $border-color;
}

.splash-page {
  background-color: $brand-red;
  color: white;
  height: 100vh;
  margin: 0;
}

.splash-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  > img {
    width: 50%;
  }

  button.login {
    margin-top: 25px;
    background-color: black;
    color: white;
  }
}