/* Header */
.header-wrapper {
  position: relative;
}

#mainHeader, #mobileMenu {
  background-color: $brand-red;
  color: white;
  z-index: 998;
  position: fixed;
  width: 100%;

  @media (min-width: $screen-md) {
    position: relative;
  }

  button:not(.btn-add) {
    color: white;

    &:hover, &:focus {
      color: $brand-orange;
    }
  }

  .navbar {
    margin-bottom: 0
  }
}

#mainHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
  top: 0;
  left: 0;

  @media (min-width: $screen-md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  h1 {
    margin: 5px 0 0;
    font-size: 16px;

    @media (min-width: $screen-md) {
      font-size: 27px;
    }
  }

  a.logo {
    color: white;
  }

  .navbar-nav .open .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

    > li > a {
      color: $link-color;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .row > div {
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-top {
    position: absolute;
    bottom: 5px;
    right: 15px;
    height: 40px;

    @media (min-width: $screen-md) {
      top: 0;
      bottom: auto;
    }
  }

  .navbar-bottom {
    min-height: 22px;
    height: 22px;
    position: absolute;
    bottom: 0;

    li:first-of-type a {
      padding-left: 0
    }

    li:last-of-type a {
      padding-right: 0
    }
  }

  .nav > li {
    display: inline-block;
  }
}

.btn-search {
  font-size: 30px;
  padding-top: 3px;
  padding-bottom: 0;
  line-height: 1;
  margin-right: 10px
}

#profileButton {
  padding: 0 15px;

  > img {
    margin-right: 5px;
  }

  > span {
    margin-right: 5px
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none
}

.btn-add {
  position: absolute;
  right: auto;
  left: auto;
  bottom: -7px;
  width: 74px;
  height: 74px;
  border: 4px solid white;
  border-radius: 50%;
  background-color: #FF2D00;
  color: white;
  padding: 10px;
  font-size: 48px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
  transition: background-color 0.4s;
  line-height: 0;

  @media (min-width: $screen-md) {
    right: 15px;
    bottom: -35px;
    width: 90px;
    height: 90px;
  }

  &:hover, &:focus {
    background-color: $brand-red;
    border-color: white;
    color: white;
    outline: none;
  }
}

.add-menu-container {
  position: absolute;
  top: 140px;
  right: 5px;
  background-color: #FF2D00;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.5);
  height: 100px;
  width: 240px;
  z-index: 990;
  padding-top: 10px;

  .btn {
    border-right: 1px solid white;
    padding: 20px 20px 5px;
    min-height: 90px;
    color: white;
    text-transform: none;
    font-size: 14px;
    float: left;
    width: 50%;

    &:last-of-type {
      border-right: none;

      &:hover {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
      }
    }
    &:hover {
      background-color: $brand-red;
      border-bottom-left-radius: 10px
    }
  }

  .fa {
    display: block;
    margin: 0 auto 5px;
    font-size: 25px;
  }
}

#mobileMenu {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 3px;

  .nav {
    display: flex;
    flex-wrap: wrap;
    > li {
      width: 20%;
      font-size: 12px;
      line-height: 12px;
      text-align: center;

      > a {
        padding: 0;
      }
    }
  }

  li:not(.add-button-container) .fa {
    display: block;
    margin: 0 auto;
    font-size: 30px;
  }

  li.add-button-container {
    text-align: left;
  }
}