.loading-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 106%;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
  background-color: rgba(255,255,255,0.6);
  z-index: 999;
  
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    img {
      margin-top: -25px;
      height: 90px;
    }

    p {
      margin-top: -25px;
      margin-bottom: 0;
    }
  }
}