@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

@font-face {
  font-family: "Bangers";
  src: url('../assets/fonts/Bangers/Bangers.ttf');
  font-weight: normal;
  font-style: normal;
}